<div class="jumbotron">
    <p class="lead">
        Recupération données depuis {{url}}
    </p>
    <div class="col-md-2">
        <label for="id">id</label>
    </div>
    <div class="col-md-3">
        <div id="id">{{test.id}}</div>
    </div>

    <div class="col-md-2">
        <label for="content">content</label>
    </div>
    <div class="col-md-3">
        <div id="content">{{test.content}}</div>
    </div>

    <div class="col-md-2">
        <label for="yolo">yolo</label>
    </div>
    <div class="col-md-3">
        <div id="yolo">{{test.yolo}}</div>
    </div>
</div>